server {
  {% if ssl %}
  ## SSL ##
  listen 443;
  ssl on;
  ssl_certificate /etc/letsencrypt/live/{{domain}}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{domain}}/privkey.pem;
  ssl_session_timeout 5m;
  ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
  ssl_ciphers HIGH+kEECDH+AESGCM:HIGH+kEECDH:HIGH+kEDH:HIGH:!aNULL;
  ssl_prefer_server_ciphers on;
  {% endif %}

  server_name {{domain}};
  root {{app_path}}/current/public;

  ## PASSENGER ##
  passenger_enabled on;
  passenger_ruby /usr/bin/ruby;
  passenger_nodejs /usr/bin/nodejs;
  passenger_sticky_sessions on;

  {% if staging is defined %}
    passenger_app_env staging;
  {% endif %}

  {% if app_env is defined %}
  ## ENV ##
    {% for item in app_env %}
      passenger_env_var {{ item }} {{ app_env[item] }};
    {% endfor %}
  {% endif %}
}

{% if ssl %}
## Redirect to https
server {
  if ($host = {{domain}}) {
    return 301 https://$host$request_uri;
  }
  listen 80 ;
  server_name {{domain}};
}
{% endif %}
